In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_excel("/content/buffer4.xlsx")

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13491 non-null  float64
 2   CUST_AGE                 13491 non-null  int64
 3   OPEN_ACCT_CT             13491 non-null  int64
 4   WF_dvc_age               13491 non-null  int64
 5   PWD_UPDT_TS              13491 non-null  datetime64[ns]
 6   CARR_NAME                11077 non-null  object
 7   RGN_NAME                 11077 non-null  object
 8   STATE_PRVNC_TXT          11077 non-null  object
 9   ALERT_TRGR_CD            13491 non-null  object
 10  DVC_TYPE_TXT             11828 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13491 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13417 non-null  object
 13  CUST_ZIP                 13491 non-null  int64
 14  CUST_STATE               13455 non-null  object
 15  PH_NUM_UPDT_TS           13491 non-null  datetime64[ns]
 16  CUST_SINCE_DT            13491 non-null  datetime64[ns]
 17  TRAN_TS                  13491 non-null  object
 18  TRAN_DT                  13491 non-null  object
 19  ACTN_CD                  13491 non-null  object
 20  ACTN_INTNL_TXT           13491 non-null  object
 21  TRAN_TYPE_CD             13491 non-null  object
 22  ACTVY_DT                 13491 non-null  object
 23  FRAUD_NONFRAUD           13491 non-null  object
dtypes: datetime64[ns](3), float64(2), int64(4), object(15)
memory usage: 2.5+ MB
None

In [ ]:
from datetime import datetime
cst_since = pd.Series(data["CUST_SINCE_DT"])
cst_since_numeric = cst_since
for i in range(len(cst_since)):
  cst_since_numeric[i] = int(round(cst_since[i].timestamp()))
print(cst_since_numeric.head(100))

0      726278400
1       32054400
2      760060800
3     1004572800
4      539654400
         ...
95     950054400
96     866851200
97    1475884800
98    1471910400
99    1065830400
Name: CUST_SINCE_DT, Length: 100, dtype: object

In [ ]:
from datetime import datetime
ph_num_up = pd.Series(data["PH_NUM_UPDT_TS"])
ph_num_up_numeric = ph_num_up
for i in range(len(ph_num_up)):
  ph_num_up_numeric[i] = int(round(ph_num_up[i].timestamp()))
print(ph_num_up_numeric.head(100))

0     1614182110
1       32054400
2     1557018519
3     1550299537
4     1588933626
         ...
95     950054400
96    1504839231
97    1475884800
98    1471910400
99    1065830400
Name: PH_NUM_UPDT_TS, Length: 100, dtype: object

In [ ]:
from datetime import datetime
pwd_up = pd.Series(data["PWD_UPDT_TS"])
pwd_up_numeric = pwd_up
for i in range(len(pwd_up)):
  pwd_up_numeric[i] = int(round(pwd_up[i].timestamp()))
print(pwd_up_numeric.head(100))

0     1516100638
1       32054400
2     1640169771
3     1581146911
4     1609157564
         ...
95    1494335240
96    1614372941
97    1496066840
98    1621389431
99    1065830400
Name: PWD_UPDT_TS, Length: 100, dtype: object

In [ ]:
data["pwd_up_numeric"] = pwd_up_numeric
data["ph_num_up_numeric"] = ph_num_up_numeric
data["cst_since_numeric"] = cst_since_numeric

In [ ]:
print(data["TRAN_TS"].head(100))

0       5/3/2021 18:3:58
1     1/13/2021 19:19:37
2       4/8/2021 9:42:51
3     8/10/2021 15:28:31
4     6/27/2021 11:12:44
             ...
95      6/4/2021 11:0:51
96     7/21/2021 9:55:41
97     7/18/2021 17:0:51
98     6/26/2021 9:57:11
99     5/19/2021 11:37:9
Name: TRAN_TS, Length: 100, dtype: object

In [ ]:
tran_TS = pd.Series(data["TRAN_TS"])
cst_since = pd.Series(data["CUST_SINCE_DT"])
tran_TS.fillna(130, inplace = True )
#phn.head(100)
for i in range(len(cst_since)):
  if tran_TS[i] == 130:
    tran_TS[i] = cst_since[i]
print(tran_TS.head(100))

0       5/3/2021 18:3:58
1     1/13/2021 19:19:37
2       4/8/2021 9:42:51
3     8/10/2021 15:28:31
4     6/27/2021 11:12:44
             ...
95      6/4/2021 11:0:51
96     7/21/2021 9:55:41
97     7/18/2021 17:0:51
98     6/26/2021 9:57:11
99     5/19/2021 11:37:9
Name: TRAN_TS, Length: 100, dtype: object

In [ ]:
from pandas.core.tools.datetimes import to_datetime
temp1 = pd.to_datetime(tran_TS , errors = 'coerce')
temp1.head(1000)
data["TRAN_TS"] = temp1

In [ ]:
TRAN_TS_done =  data[data["TRAN_TS"].notna()]

In [ ]:
data.to_excel("/content/buffer5.xlsx", index = False)

In [ ]:
data1 = pd.read_excel("/content/buffer5.xlsx")

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13491 non-null  float64
 2   CUST_AGE                 13491 non-null  int64
 3   OPEN_ACCT_CT             13491 non-null  int64
 4   WF_dvc_age               13491 non-null  int64
 5   PWD_UPDT_TS              13491 non-null  datetime64[ns]
 6   CARR_NAME                11077 non-null  object
 7   RGN_NAME                 11077 non-null  object
 8   STATE_PRVNC_TXT          11077 non-null  object
 9   ALERT_TRGR_CD            13491 non-null  object
 10  DVC_TYPE_TXT             11828 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13491 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13417 non-null  object
 13  CUST_ZIP                 13491 non-null  int64
 14  CUST_STATE               13455 non-null  object
 15  PH_NUM_UPDT_TS           13491 non-null  datetime64[ns]
 16  CUST_SINCE_DT            13491 non-null  datetime64[ns]
 17  TRAN_TS                  13491 non-null  datetime64[ns]
 18  TRAN_DT                  13491 non-null  object
 19  ACTN_CD                  13491 non-null  object
 20  ACTN_INTNL_TXT           13491 non-null  object
 21  TRAN_TYPE_CD             13491 non-null  object
 22  ACTVY_DT                 13491 non-null  object
 23  FRAUD_NONFRAUD           13491 non-null  object
 24  pwd_up_numeric           13491 non-null  object
 25  ph_num_up_numeric        13491 non-null  object
 26  cst_since_numeric        13491 non-null  object
dtypes: datetime64[ns](4), float64(2), int64(4), object(17)
memory usage: 2.8+ MB
None

In [ ]:
from datetime import datetime
tran_ts = pd.Series(data["TRAN_TS"])
tran_ts_numeric = tran_ts
for i in range(len(tran_ts)):
  tran_ts_numeric[i] = int(round(tran_ts[i].timestamp()))
print(tran_ts_numeric.head(100))

0     1620065038
1     1610565577
2     1617874971
3     1628609311
4     1624792364
         ...
95    1622804451
96    1626861341
97    1626627651
98    1624701431
99    1621424229
Name: TRAN_TS, Length: 100, dtype: object

In [ ]:
data1["Tran_TS_Numeric"] = tran_ts_numeric

In [ ]:
cst_diff_tran = data1["cst_since_numeric"]
phn_diff_tran = data1["ph_num_up_numeric"]
pwd_diff_tran = data1["pwd_up_numeric"]
Tran_TS_Numeric = data1["Tran_TS_Numeric"]
for i in range(len(Tran_TS_Numeric)):
  cst_diff_tran[i] = Tran_TS_Numeric[i] - cst_diff_tran[i]
  phn_diff_tran[i] = Tran_TS_Numeric[i] - phn_diff_tran[i]
  pwd_diff_tran[i] =  Tran_TS_Numeric[i] -pwd_diff_tran[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0      726278400
1       32054400
2      760060800
3     1004572800
4      539654400
         ...
95     950054400
96     866851200
97    1475884800
98    1471910400
99    1065830400
Name: cst_since_numeric, Length: 100, dtype: int64
0     1614182110
1       32054400
2     1557018519
3     1550299537
4     1588933626
         ...
95     950054400
96    1504839231
97    1475884800
98    1471910400
99    1065830400
Name: ph_num_up_numeric, Length: 100, dtype: int64
0     1516100638
1       32054400
2     1640169771
3     1581146911
4     1609157564
         ...
95    1494335240
96    1614372941
97    1496066840
98    1621389431
99    1065830400
Name: pwd_up_numeric, Length: 100, dtype: int64

In [ ]:
data1["cst_diff_tran"] = cst_diff_tran
data1["phn_diff_tran"] = phn_diff_tran
data1["pwd_diff_tran"] = pwd_diff_tran

In [ ]:
print(data1["cst_diff_tran"].head(100))

0      726278400
1       32054400
2      760060800
3     1004572800
4      539654400
         ...
95     950054400
96     866851200
97    1475884800
98    1471910400
99    1065830400
Name: cst_diff_tran, Length: 100, dtype: int64

In [ ]:
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13491 non-null  float64
 2   CUST_AGE                 13491 non-null  int64
 3   OPEN_ACCT_CT             13491 non-null  int64
 4   WF_dvc_age               13491 non-null  int64
 5   PWD_UPDT_TS              13491 non-null  datetime64[ns]
 6   CARR_NAME                11077 non-null  object
 7   RGN_NAME                 11077 non-null  object
 8   STATE_PRVNC_TXT          11077 non-null  object
 9   ALERT_TRGR_CD            13491 non-null  object
 10  DVC_TYPE_TXT             11828 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13491 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13417 non-null  object
 13  CUST_ZIP                 13491 non-null  int64
 14  CUST_STATE               13455 non-null  object
 15  PH_NUM_UPDT_TS           13491 non-null  datetime64[ns]
 16  CUST_SINCE_DT            13491 non-null  datetime64[ns]
 17  TRAN_TS                  13491 non-null  datetime64[ns]
 18  TRAN_DT                  13491 non-null  object
 19  ACTN_CD                  13491 non-null  object
 20  ACTN_INTNL_TXT           13491 non-null  object
 21  TRAN_TYPE_CD             13491 non-null  object
 22  ACTVY_DT                 13491 non-null  object
 23  FRAUD_NONFRAUD           13491 non-null  object
 24  pwd_up_numeric           13491 non-null  int64
 25  ph_num_up_numeric        13491 non-null  int64
 26  cst_since_numeric        13491 non-null  int64
 27  Tran_TS_Numeric          13491 non-null  object
 28  cst_diff_tran            13491 non-null  int64
 29  phn_diff_tran            13491 non-null  int64
 30  pwd_diff_tran            13491 non-null  int64
dtypes: datetime64[ns](4), float64(2), int64(10), object(15)
memory usage: 3.2+ MB
None

In [ ]:
data1.to_excel("/content/buffer6.xlsx", index = False)

In [ ]:
data = pd.read_excel("/content/buffer6.xlsx")

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRAN_AMT                 13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL  13491 non-null  float64
 2   CUST_AGE                 13491 non-null  int64
 3   OPEN_ACCT_CT             13491 non-null  int64
 4   WF_dvc_age               13491 non-null  int64
 5   PWD_UPDT_TS              13491 non-null  datetime64[ns]
 6   CARR_NAME                11077 non-null  object
 7   RGN_NAME                 11077 non-null  object
 8   STATE_PRVNC_TXT          11077 non-null  object
 9   ALERT_TRGR_CD            13491 non-null  object
 10  DVC_TYPE_TXT             11828 non-null  object
 11  AUTHC_PRIM_TYPE_CD       13491 non-null  object
 12  AUTHC_SCNDRY_STAT_TXT    13417 non-null  object
 13  CUST_ZIP                 13491 non-null  int64
 14  CUST_STATE               13455 non-null  object
 15  PH_NUM_UPDT_TS           13491 non-null  datetime64[ns]
 16  CUST_SINCE_DT            13491 non-null  datetime64[ns]
 17  TRAN_TS                  13491 non-null  datetime64[ns]
 18  TRAN_DT                  13491 non-null  object
 19  ACTN_CD                  13491 non-null  object
 20  ACTN_INTNL_TXT           13491 non-null  object
 21  TRAN_TYPE_CD             13491 non-null  object
 22  ACTVY_DT                 13491 non-null  object
 23  FRAUD_NONFRAUD           13491 non-null  object
 24  pwd_up_numeric           13491 non-null  int64
 25  ph_num_up_numeric        13491 non-null  int64
 26  cst_since_numeric        13491 non-null  int64
 27  Tran_TS_Numeric          13491 non-null  int64
 28  cst_diff_tran            13491 non-null  int64
 29  phn_diff_tran            13491 non-null  int64
 30  pwd_diff_tran            13491 non-null  int64
dtypes: datetime64[ns](4), float64(2), int64(11), object(14)
memory usage: 3.2+ MB
None

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_excel('/content/wellsfargo.xlsx')

In [ ]:
data.isna().sum()

TRAN_AMT                         0
ACCT_PRE_TRAN_AVAIL_BAL          0
CUST_AGE                         0
OPEN_ACCT_CT                     0
WF_dvc_age                       0
PWD_UPDT_TS                      0
CARR_NAME                        0
RGN_NAME                      2414
STATE_PRVNC_TXT               2414
ALERT_TRGR_CD                    0
CUST_ZIP                         0
CUST_STATE                      36
PH_NUM_UPDT_TS                   0
CUST_SINCE_DT                    0
TRAN_TS                          0
TRAN_DT                          0
ACTN_CD                          0
ACTN_INTNL_TXT                   0
TRAN_TYPE_CD                     0
ACTVY_DT                         0
FRAUD_NONFRAUD                   0
pwd_up_numeric                   0
ph_num_up_numeric                0
cst_since_numeric                0
Tran_TS_Numeric                  0
cst_diff_tran                    0
phn_diff_tran                    0
pwd_diff_tran                    0
Device_MOBILE                    0
Device_NoDevice                  0
Device_PHONE                     0
Device_TABLET                    0
auth_prim_AFA_PL                 0
auth_prim_FACE_ID                0
auth_prim_TOUCH_ID               0
auth_prim_UN_PWD                 0
auth_sec_CHALLENGE_ISSUED        0
auth_sec_CHALLENGE_SUCCESS       0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13491 entries, 0 to 13490
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TRAN_AMT                    13491 non-null  float64
 1   ACCT_PRE_TRAN_AVAIL_BAL     13491 non-null  float64
 2   CUST_AGE                    13491 non-null  int64
 3   OPEN_ACCT_CT                13491 non-null  int64
 4   WF_dvc_age                  13491 non-null  int64
 5   PWD_UPDT_TS                 13491 non-null  datetime64[ns]
 6   CARR_NAME                   13491 non-null  int64
 7   RGN_NAME                    11077 non-null  object
 8   STATE_PRVNC_TXT             11077 non-null  object
 9   ALERT_TRGR_CD               13491 non-null  int64
 10  CUST_ZIP                    13491 non-null  int64
 11  CUST_STATE                  13455 non-null  object
 12  PH_NUM_UPDT_TS              13491 non-null  datetime64[ns]
 13  CUST_SINCE_DT               13491 non-null  datetime64[ns]
 14  TRAN_TS                     13491 non-null  datetime64[ns]
 15  TRAN_DT                     13491 non-null  object
 16  ACTN_CD                     13491 non-null  object
 17  ACTN_INTNL_TXT              13491 non-null  object
 18  TRAN_TYPE_CD                13491 non-null  object
 19  ACTVY_DT                    13491 non-null  object
 20  FRAUD_NONFRAUD              13491 non-null  object
 21  pwd_up_numeric              13491 non-null  int64
 22  ph_num_up_numeric           13491 non-null  int64
 23  cst_since_numeric           13491 non-null  int64
 24  Tran_TS_Numeric             13491 non-null  int64
 25  cst_diff_tran               13491 non-null  int64
 26  phn_diff_tran               13491 non-null  int64
 27  pwd_diff_tran               13491 non-null  int64
 28  Device_MOBILE               13491 non-null  int64
 29  Device_NoDevice             13491 non-null  int64
 30  Device_PHONE                13491 non-null  int64
 31  Device_TABLET               13491 non-null  int64
 32  auth_prim_AFA_PL            13491 non-null  int64
 33  auth_prim_FACE_ID           13491 non-null  int64
 34  auth_prim_TOUCH_ID          13491 non-null  int64
 35  auth_prim_UN_PWD            13491 non-null  int64
 36  auth_sec_CHALLENGE_ISSUED   13491 non-null  int64
 37  auth_sec_CHALLENGE_SUCCESS  13491 non-null  int64
dtypes: datetime64[ns](4), float64(2), int64(23), object(9)
memory usage: 3.9+ MB

In [ ]:
dictionary={}
for col in data.drop(columns=['FRAUD_NONFRAUD']).columns:
    if data[col].dtype == 'int' or data[col].dtype == 'float':
        df=data[data['FRAUD_NONFRAUD']==1]
        df1=data[data['FRAUD_NONFRAUD']==0]
        t=np.mean(df[col])
        print(t)
        t1=np.mean(df1[col])
        print(t1)
        dictionary[col]=np.abs(t-t1)/((t+t1)/2)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [ ]:
print(dictionary)

{'TRAN_AMT': nan, 'ACCT_PRE_TRAN_AVAIL_BAL': nan, 'CUST_AGE': nan, 'OPEN_ACCT_CT': nan, 'WF_dvc_age': nan, 'CARR_NAME': nan, 'ALERT_TRGR_CD': nan, 'CUST_ZIP': nan, 'pwd_up_numeric': nan, 'ph_num_up_numeric': nan, 'cst_since_numeric': nan, 'Tran_TS_Numeric': nan, 'cst_diff_tran': nan, 'phn_diff_tran': nan, 'pwd_diff_tran': nan, 'Device_MOBILE': nan, 'Device_NoDevice': nan, 'Device_PHONE': nan, 'Device_TABLET': nan, 'auth_prim_AFA_PL': nan, 'auth_prim_FACE_ID': nan, 'auth_prim_TOUCH_ID': nan, 'auth_prim_UN_PWD': nan, 'auth_sec_CHALLENGE_ISSUED': nan, 'auth_sec_CHALLENGE_SUCCESS': nan}

In [ ]:
t=list(dictionary.values())

In [ ]:
t.sort(reverse=True)

In [ ]:
m=t[:10]

In [ ]:
for i in m:
    print([k for k,v in dictionary.items() if v==i])

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]